// racesRun.scss
//
/* Stylesheet for Races Run app */

@import './common/reset';
@import './common/colors';
@import './common/fonts';
@import './common/forms';
@import './common/inputs';
@import './common/buttons';
@import './nav/nav';
@import './user/logIn';
@import './user/profile';
@import './calculator/calc';

h1 {
    text-align: center;
    font-family: $heading-font-family;
}

main {
    font-family: $body-font-family;
}
