// _logIn.scss
//
// Styling for log-in page

.login-page {
    margin: 0 auto;
    max-width: 28rem;

    form {
        margin-bottom: 1rem;
    }

    label {
        width: 5rem;

        @media (min-width: 26rem) {
            width: 6rem;
        }
    }

    input {
        width: 14rem;

        @media (min-width: 22rem) {
            width: 16rem;
        }

        @media (min-width: 24rem) {
            width: 18rem;
        }

        @media (min-width: 28rem) {
            width: 20rem;
        }
    }

    .or {
        text-align: center;
    }

    p {
        padding: 0 1rem;
    }
}
