// _logIn.scss
//
// Styling for log-in page

.login-page {
    margin: 0 auto;
    max-width: 28rem;

    form {
        margin-bottom: 1rem;
    }

    label {
        width: 6rem;
    }

    input {
        width: 20rem;
    }
}
