// _password.scss
//
// Styling for password page

.password-page {
    margin: 0 auto;
    max-width: 28rem;

    label {
        width: 4rem;
    }

    input {
        width: 12rem;
        @media (min-width: 22rem) {
            width: 14rem;
        }
        @media (min-width: 24rem) {
            width: 16rem;
        }
        @media (min-width: 28rem) {
            width: 19rem;
        }
    }
}
