// _profile.scss
//
// Styling for sign-up, view, and edit profile pages

.profile-page {
    margin: 0 auto;
    max-width: 28rem;

    form {
        margin-bottom: 1rem;
    }

    label {
        width: 6rem;
    }

    input[ type="radio" ] {
        margin-left: 0.6rem;
    }

    .radio-label {
        width: auto;
        text-align: left;
    }

    input[ name="username" ],
    input[ name="fullName" ],
    input[ name="email" ] {
        width: 13rem;
        @media (min-width: 22rem) {
            width: 15rem;
        }
        @media (min-width: 24rem) {
            width: 17rem;
        }
        @media (min-width: 28rem) {
            width: 20rem;
        }
    }

    input[ name="password" ] {
        width: 10rem;
        @media (min-width: 22rem) {
            width: 12rem;
        }
        @media (min-width: 24rem) {
            width: 14rem;
        }
        @media (min-width: 28rem) {
            width: 17rem;
        }
    }

    select {
        width: 10rem;
    }
}
