<div class="login-page">
  
  <form id="logInForm">
    <div id="errorMsg"></div>

    <div class="input-line">
      <label for="username">Username</label>
      <input type="text" name="username" required maxlength="25" />
    </div>

    <div class="input-line">
      <label for="password">Password</label>
      <input type="password" name="password" required maxlength="1000" />
    </div>

    <button type="button" id="logIn">Log In</button>
  </form>

  <div class="signup-div">
    <a class="signup-link" href="/signup">Sign Up</a>
  </div>

</div>