<div class="password-page">
  <form id="passwordForm">
    <div class="input-line">
      <label for="currentPassword">Current</label>
      <input type="password" name="currentPassword" id="currentPassword" required maxlength="1000" />
    </div>

    <div class="input-line">
      <label for="newPassword">New</label>
      <input type="password" name="newPassword" id="newPassword" required maxlength="1000" />
      <button type="button" id="showHidePassword" class="inline-button">Show</button>
    </div>

    <div class="controls">
      <a href="/profile" class="secondary-button">Cancel</a>
      <button type="button" id="changePassword" class="primary-button">Change Password</button>
    </div>
  </form>
</div>
