// _colors.scss
//
// Variables for theme colors

$primary-dark-color: rgb( 0, 13, 116 );
$primary-light-color: rgb( 185, 217, 235 );

$primary-highlight-color: rgb( 255, 255, 0 );

$input-border-color: rgb( 180, 180, 180 );
$focus-outline-color: rgb( 165, 199, 254 );