/*
    _errorMessage.scss

    Styling of error message
*/

#error-message {
    display: none;
    margin: 0.5rem auto;
    border: thin solid $error-dark-color;
    background-color: $error-light-color;
    padding: 0.75rem;
    max-width: 25rem;
    color: $error-dark-color;

    ul {
        margin: 0;
        padding-left: 1.25rem;
    }
}
