<ul>
  <li class="logo"><span>Races Run</span></li>
  <li class="menu-item nav-home"><a href="/">Log In</a></li>
  <li class="menu-item nav-calc"><a href="/calc">Calculator</a></li>
  <li class="menu-item nav-others"><a href="/others">Other Runners</a></li>
  <li id="menu-toggle"><span></span></li>
</ul>
