<ul>
  <li class="logo"><span>Races Run</span></li>
  <li class="menu-item nav-home"><a href="/">My Races</a></li>
  <li class="menu-item nav-calc"><a href="/calc">Calculator</a></li>
  <li class="menu-item nav-others"><a href="/others">Other Runners</a></li>
  <li class="submenu-parent nav-profile"><span>👤 {{username}}</span>
    <ul>
      <li class="menu-item nav-profile"><a href="/profile">My Profile</a></li>
      <li class="menu-item"><span id="logout" role="button">Log Out</span></li>
    </ul>
  </li>
  <li id="menu-toggle"><span></span></li>
</ul>